clusters = A, B

A.bootstrap.servers = ${SOURCE}
B.bootstrap.servers = ${DESTINATION}

A->B.enabled = true

A->B.topics = ${TOPICS}

replication.factor = ${REPLICATION_FACTOR}
sync.topic.acls.enabled = ${ACLS_ENABLED}
tasks.max = ${TASKS_MAX}

replication.policy.separator =
source.cluster.alias = 
target.cluster.alias =

# REF https://docs.confluent.io/platform/current/connect/references/allconfigs.html#distributed-worker-configuration
group.id = ${GROUP_ID}
A.group.id = ${GROUP_ID}
B.group.id = ${GROUP_ID}
consumer.group.id = ${GROUP_ID}
connector.client.config.override.policy=All
config.storage.topic = ${CONFIG_STORAGE_TOPIC}
offset.storage.topic = ${OFFSET_STORAGE_TOPIC}
status.storage.topic = ${STATUS_STORAGE_TOPIC}

############################# Internal Topic Settings  #############################
# The replication factor for mm2 internal topics "heartbeats", "B.checkpoints.internal" and
# "mm2-offset-syncs.B.internal"
# For anything other than development testing, a value greater than 1 is recommended to ensure availability such as 3.
checkpoints.topic.replication.factor=${REPLICATION_FACTOR}
heartbeats.topic.replication.factor=${REPLICATION_FACTOR}
offset-syncs.topic.replication.factor=${REPLICATION_FACTOR}

# The replication factor for connect internal topics "mm2-configs.B.internal", "mm2-offsets.B.internal" and
# "mm2-status.B.internal"
# For anything other than development testing, a value greater than 1 is recommended to ensure availability such as 3.
offset.storage.replication.factor=${REPLICATION_FACTOR}
status.storage.replication.factor=${REPLICATION_FACTOR}
config.storage.replication.factor=${REPLICATION_FACTOR}

# customize as needed
# replication.policy.separator = _
# sync.topic.acls.enabled = false
# emit.heartbeats.interval.seconds = 5